html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    min-height: 250px;
    min-width: 250px;
    position: relative;
    margin: 0;
    background-color: #050505;
    color: #505050;
    font-size: 12px;
    font-family: arial, verdana, sans-serif;
}
.container-table {
    display: table;
    height: 100%;
    width: 100%;
}
.container-cell {
    display: table-cell;
    vertical-align: middle;
}
.container-cell > img {
    display: block;
    margin: 0 auto;
    max-width: 426px;
    max-height: 214px;
    width: 50%;
    height: auto;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
}